<footer class>
    <ul>
        <li><a href="/tours/">Tours</a></li>
        <li><a href="/schedule/">Schedule</a></li>
        <li><a href="/neighborhoods/">Neighborhoods</a></li>
        <li><a href="/scheduled/guidestours">Guides</a></li>
    </ul>
</footer>