<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SF City Guides xxx</title>
    <script src="/javascripts/jquery-3.3.3.js"></script>
</head>