<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header uk-background-primary">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom"><%= schtr.walktitle %></h3>
                <p class="uk-text-meta uk-margin-remove-top"><time datetime="<%= schtr.scheduled %>">April 01, 2016</time></p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p><%= schtr.description %></p>
    </div>
    <div class="uk-card-footer uk-background-muted">
        <a href=<%= "/scheduled/confirmation/" + schtr.id %> class="uk-button uk-button-text">Sign Up</a>
    </div>
</div>