body {
    padding: 1.5em;
}
#map {
    min-width:320px;
    max-width: 959px;
    width:100%;
    min-height:400px;
    max-height:700px;
    height: auto;
    margin: 0;
}
footer {

    height: 64px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 15px 5px 10px;
}
footer ul {
    list-style-type: none;
}
footer li {
    display: inline;
    padding: 0 5%;
}
footer ul a {
    color: white;
    text-decoration: none !important;
}
footer ul a:hover {
    color:white;
    text-decoration: none !important;
    cursor:pointer;
}

/* patch to aid mapbox match UIkit media query for cards */
@media only screen and (min-width: 959px) {
    #map {
        min-width: 462px;
        width: 50%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    footer {
        margin: 0;
        font-size: .8em;
        padding: 15px 0 10px 0;
    }
    footer li {
        padding: 0 3%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    footer li {
        padding: 0 3.5%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 