<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <% include ../partials/nav %>
    <!-- <div class="uk-background-image@m uk-background-cover uk-background-muted uk-height-medium uk-width-large uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../images/sfcablecar.jpg);">
        <p class="uk-h4 uk-margin-remove uk-visible@m uk-light">Image shown</p>
        <p class="uk-h4 uk-margin-remove uk-hidden@m">Image not shown</p>
    </div> -->
    <!-- <div class="uk-child-width-1-2@s uk-light" uk-grid>
            <div>
                <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../images/sfcablecar.jpg);">
                    <p class="uk-h4">San Francisco Walking Tours</p>
                </div>
            </div> -->
        <!-- <div class="uk-child-width-1-2@s uk-light" uk-grid>
            <div class="uk-background-contain uk-background-muted uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(../images/sfcablecar.jpg);">
                <p class="uk-h3">Walk San Francisco</p>
                <p class="uk-h4 uk-text-success uk-text-center">look, book, tour</p>
            </div>
        </div> -->
    <% include ../partials/footer %>  
</html>